#grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffeac4;
}

#grid-wrapper {
  position: absolute;
  transform-origin: 0 0;
  will-change: transform;
}

#grid {
  margin: auto;
  display: grid;
  transform: rotateX(60deg) rotateZ(45deg);
}

.cell {
  width: 64px;
  height: 64px;
  /*background: rgba(255, 255, 255, 0.2);*/
  /*border: 1px solid rgba(255, 255, 255, 0.4);*/
}

.sprite-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(-45deg) rotateY(60deg) scale(2.828427) translate(0, -15px);
  z-index: 1;
}

.sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes wobble {
  0%   { transform: translateY(0) rotate(0deg); }
  25%  { transform: translateY(-5px) rotate(5deg); }
  50%  { transform: translateY(0) rotate(0deg); }
  75%  { transform: translateY(-5px) rotate(-5deg); }
  100% { transform: translateY(0) rotate(0deg); }
}

.improve {
  position: relative;
  image-rendering: auto;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform: translateZ(0);
  display: block;
  margin: auto;
  cursor: pointer;
  width: 40%;
  height: 40%;
  pointer-events: all;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 100;
  animation: wobble 1.5s ease-in-out infinite;
}
