#grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffeac4;
}

#grid-wrapper {
  position: absolute;
  transform-origin: 0 0;
  will-change: transform;
}

#grid {
  margin: auto;
  display: grid;
  transform: rotateX(60deg) rotateZ(45deg);
}

.cell {
  width: 64px;
  height: 64px;
  /*background: rgba(255, 255, 255, 0.2);*/
  /*border: 1px solid rgba(255, 255, 255, 0.4);*/
}

.sprite-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(-45deg) rotateY(60deg) scale(2.828427) translate(0, -15px);
  z-index: -1;
}

.sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}